html,
body {
  background-color: black;
}

.myCarouselIcon {
  padding: 0 50px;
}

.card-img-film {
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.card-img-film:hover {
  filter: none;
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}
