body {
    text-align: center;
    color: #333;
    font-family: Georgia, serif;
  }
  
  #logo {
    width: 200px;
  }
  
  h1 {
    text-align: center;
  }

  nav {
    background-color: #fefbf1;
    border-top: 1px solid #ffd977;
    color: #004d4d;
    font-size: 0.8rem;
  }
  
  .video-section {
    width: 60%;
    margin: auto;
    text-align: left;
  }
  
  .video-section video {
    width: 100%;
    border-radius: 10px;
  }
  
  #featured {
    border-left: 1px solid #ffd977;
  }
  
  #featured span {
    color: #b5460f;
    display: block;
  }
  
  #featured a,
  #link {
    color: #177;
  }
  
  .ingredienti {
    margin-top: 4rem;
  }
  
  h2 {
    font-weight: 100;
  }
  
  ul {
    margin-bottom: 2rem;
    list-style-position: inside; 
  }
  
  li {
    margin-bottom: 1rem;
  }
  
  
