:root {
  --amazon-white: #eaeded;
  --background-dark: #222f3e;
  --background-yellow: #f56600;
  --background-less-dark: #364759;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  color: #393d41;
  line-height: 1.65;
  background-color: var(--amazon-white);
}

header {
  background-color: var(--background-dark);
}

header img {
  width: 7%;
  padding-left: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

nav {
  background-color: var(--background-less-dark);
}

nav ul li {
  display: inline;
  padding-left: 1.5vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}

nav ul li a {
  color: var(--amazon-white);
  text-decoration: none;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: var(--background-yellow);
}

#ads-line {
  background-color: var(--background-yellow);
  text-align: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 1.5vw;
  color: #eaeded;
}

#ads-line p {
  font-size: 1.4rem;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

#ads-holiday {
  text-align: center;
  background-image: url("../images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  height: 8vw;
}

#ads-holiday h1 {
  padding-top: 2.4vw;
  color: var(--amazon-white);
  font-size: 2.5rem;
  font-weight: bold;
}

#ads-holiday h2 {
  color: var(--amazon-white);
  font-size: 1.6rem;
  font-weight: bold;
}

#git-section {
  margin-top: 1.5vw;
}

#content-text {
  padding-top: 0.5vw;
}

#content-text p {
  font-size: 1.4rem;
}

#content-text p,
a {
  display: inline;
}

.card-box {
  box-shadow: 0 2px 6px rgba(27, 27, 27, 0.2);
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-bottom: 1vw;
}

.card-box p {
  font-size: 1.2rem;
}

.card-box a {
  font-weight: bolder;
  font-size: 1rem;
  padding-top: 0.5vw;
  padding-left: 1vw;
  text-decoration: none;
  color: #306e63;
}

.card {
  display: inline-block;
  width: 20%;
  height: 25vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 1vw;
}

.card:nth-child(2) {
  margin-left: 2vw;
  margin-right: 4vw;
}
.card:nth-child(3) {
  margin-right: 4vw;
}
.card:nth-child(4) {
  margin-right: 4vw;
}
.card:nth-child(5) {
  margin-right: 4vw;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-box {
  max-width: 100%;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 1.5vw;
  text-align: center;
}

.play-box img {
  width: 100%;
  height: auto;
}

.play-box img:nth-of-type(2) {
  margin-top: 0.5vw;
}

.play-box p,
.play-box a {
  display: inline;
  margin-left: 1.5vw;
  text-decoration: none;
}

.play-box p {
  font-size: 1.2rem;
}

.play-box a {
  font-size: 1rem;
  font-weight: bolder;
  color: #2f8d99;
}

footer {
  background-color: var(--background-dark);
}

#back-space {
  color: var(--amazon-white);
  text-align: center;
  margin-top: 1vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  background-color: var(--background-less-dark);
}

#back-space a {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--amazon-white);
}

#footer-logo {
  text-align: center;
}

#footer-logo img {
  width: 7%;
  padding-top: 3vw;
  padding-bottom: 2.5vw;
}
